[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
pandas = "*"
line-profiler = "*"
memory-profiler = "*"
typing = "*"
pyment = "*"
tox = "*"
flake8 = "*"
cookiecutter = "*"
bumpversion = "*"
scrapy = "*"
requests = "*"
pytest = "*"
pytest-benchmark = "*"

[dev-packages]

[requires]
python_version = "3.9"
